<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body class="d-flex min-vh-100">
    <header class="d-flex flex-column bg-light px-0 py-5">
      <a href="#!" class="navbar-brand d-block mb-4 px-5">
        <img src="assets/images/logo-ANSWER.svg" alt="ANSWER logo">
      </a>
      <nav>
        <ul class="navbar-nav fw-bold">
          <li class="py-2">
            <a
              href="#"
              class="d-flex align-items-center gap-3 ps-4 py-1"
            >
              <span class="material-icons ms-1">assessment</span>
              Dashboard
            </a>
          </li>
          <li class="py-2">
            <a
              href="#"
              class="d-flex align-items-center gap-3 ps-4 py-1"
            >
              <span class="material-icons ms-1">question_answer</span>
              Question
            </a>
          </li>
          <li class="py-2">
            <a
              href="./index.html"
              class="d-flex align-items-center gap-3 ps-4 py-1"
            >
              <span class="material-icons ms-1">assignment</span>
              Assignment
            </a>
          </li>
          <li class="py-2">
            <a
              href="#"
              class="d-flex align-items-center gap-3 ps-4 py-1"
            >
              <span class="material-icons ms-1">video_library</span>
              Course
            </a>
          </li>
          <li class="py-2">
            <a
              href="./admin.html"
              class="d-flex align-items-center gap-3 ps-4 py-1"
            >
              <span class="material-icons ms-1">group</span>
              Admin
            </a>
          </li>
          <li class="py-2">
            <a
              href="#"
              class="d-flex align-items-center gap-3 ps-4 py-1"
            >
              <span class="material-icons ms-1">settings</span>
              Settings
            </a>
          </li>
        </ul>
      </nav>
      <div class="navbar-user d-flex align-items-center gap-3 mt-auto px-5">
        <img src="assets/images/andychen.jpg" class="rounded-circle" alt="Andy Chen">
        <div class="user-text">
          <h6 class="mt-0 mb-1">Andy Chen</h6>
          <p class="small text-muted my-0">andy0401@mail.com</p>
        </div>
      </div>
    </header>
    <%- contents %>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>