header {
  width: 296px;
}

.navbar-nav {
  a {
    border-left: 4px solid transparent;
    &.active {
      color: $primary;
      border-left-color: $primary;
    }
  }
}

.navbar-user {
  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
}
